<div class="row">
  <div class="col-6 offset-3 mt-3">
    <form *ngIf="(car$ | async) as car" #editForm="ngForm" (ngSubmit)="onSave(editForm)">
      <input name="_id" type="hidden" [(ngModel)]="car._id">
      <div class="form-group">
        <label for="model">Model</label>
        <input class="form-control" type="text" name="model" required [(ngModel)]="car.model">
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input class="form-control" type="number" name="year" required [(ngModel)]="car.year">
      </div>
      <div class="form-group">
        <label for="maker">Maker</label>
        <input class="form-control" type="text" name="maker" required [(ngModel)]="car.maker">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" type="number" name="price" [(ngModel)]="car.price">
      </div>

      <button type="submit" [disabled]="editForm.invalid" class="btn btn-primary w-100 mt-3 mb-3">
        <i class="fas fa-save"></i> Update the car
      </button>
    </form>
  </div>
</div>